.flip-card {
    perspective: 1000px;
    display: grid;
    place-items: center;
}
.flip-card-content {
    transform-style: preserve-3d;
    transition: transform 0.6s;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    transform: rotateY(0deg);
}
.flip-card-content.flipped {
    transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    text-align: left;
    will-change: transform, backdrop-filter;
}
.flip-card-back {
    transform: rotateY(180deg);
}
.flip-card-container {
    position: relative;
    width: 100%;
    height: 485px;
    overflow: hidden;
}
.flip-card-container-content {
    display: flex;
    width: 400%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0%);
}
.flip-card-container-content.change-flip-card-section1 {
    transform: translateX(calc(-100% / 4));
}
.flip-card-container-content.change-flip-card-section2 {
    transform: translateX(calc(2 * (-100% / 4)));
}
.flip-card-container-content.change-flip-card-section3 {
    transform: translateX(calc(3 * (-100% / 4)));
}
.flip-card-section {
    width: calc(100% / 4);
}